---
import Hero from "../components/Hero.astro";
import Categories from "../components/Categories.astro";
import BestSellers from "../components/BestSellers.astro";
import Features from "../components/Features.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main>
		<Hero />
		<Categories />
		<BestSellers />
		<Features />
	</main>
</Layout>
